body {
  background-image: url(images/space.jpg);
  color: yellow;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.page-load {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;

}
